<div class="container top-bar">
    <div class="row">
        <div class="btn-group">
            <button class="btn btn-lg btn-block form-control" [ngClass]="statusMensa1 ? 'btn-danger' : 'btn-outline-danger'" (click)="setLocation(mensa1)">{{ mensa1.location }}</button>

            <button class="btn btn-lg btn-block form-control" [ngClass]="statusMensa2 ? 'btn-danger' : 'btn-outline-danger'" (click)="setLocation(mensa2)">{{ mensa2.location }}</button>

            <button class="btn btn-lg btn-block form-control" [ngClass]="statusCafeMensa2 ? 'btn-danger' : 'btn-outline-danger'" (click)="setLocation(cafeMensa2)">{{ cafeMensa2.location }}</button>
        </div>
    </div>
</div>
