<div class="container bg-warning">
    <div class="card bg-danger title">
        <h2>{{ title }} vom {{ today | date:'dd.MM.yyyy' }}</h2>
    </div>
    <table class="table">
        <thead>
            <th>Menüs</th>
            <th>Gerichte</th>
            <th>Gäste-Preis</th>
        </thead>
        <tbody>
            <tr *ngFor="let menu of menus">
                <td>{{ menu.lane }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.price | currency:'EUR' }}</td>
            </tr>
        </tbody>
    </table>

</div>
