.title {
    margin: auto;
    padding: 10px;
    width: 400px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.menu-table {
    color: white;
    background: rgb(100, 100, 100);
}

h5 {
    margin: 0em;
}
