<div class="container menu-table">
    <div class="title bg-danger">
        <h5>{{ title }} vom {{ today | date:'dd.MM.yyyy' }}</h5>
    </div>
  <div class="">
    <table class="table">
        <thead>
            <th>Menüs</th>
            <th>Gerichte</th>
            <th>Gäste-Preis</th>
        </thead>
        <tbody>
            <tr *ngFor="let menu of menus">
                <td>{{ menu.lane }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.price | currency:'EUR' }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
